<br>
<br>
<mat-card>
    <mat-card-header>
      
      <mat-card-title>{{ nombre }} {{ apellido }}</mat-card-title>
      <mat-card-subtitle>Correo:  {{ correo }}</mat-card-subtitle>

     
    </mat-card-header>
  </mat-card>
  
  
  <div mat-card-avatar>
    <img mat-card-image src="../assets/july.jpg"    alt="Foto del Isaias">
  </div>
<br>
  <button class="btn btn-primary" (click)="redirigirATwitter()">Twitter</button>
  <br>
  <button class="btn btn-primary" (click)="redirigirAfcr()">Facebook</button>
  