<div class="text-center">
    <h3>Seleccione una ventana</h3>
    
    </div>
    <br>
    <div class="texto">
        <mat-button-toggle-group name="text-center" aria-label="Favorite Color">
    
            <mat-button-toggle [routerLink]="'/vista1'">Vista 1</mat-button-toggle>
            <mat-button-toggle [routerLink]="'/vista2'">Vista 2</mat-button-toggle>
            <mat-button-toggle [routerLink]="'/vista3'">Vista 3</mat-button-toggle>

            <mat-button-toggle (click)="exitApplication()">Exit</mat-button-toggle>
    
          
        
        </mat-button-toggle-group>
    </div>